.about-us-area {
  padding: 90px 0;
  

.about-img {
  -webkit-box-shadow: 0 0 15px $boxshadow-color;
  box-shadow: 0 0 15px $boxshadow-color;
  position: relative;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;

  img {
    width: 100%;
    @include transition(.5s);
  }

  img:hover {
    width: 100%;
    @include transform (scale(1.02));


  }
  &::before{
    content: '';
    position: absolute;
    left: -30px;
    top: 40px;
    height: 98%;
    width: 98%;
    border: 7px solid $crimson-color;
    z-index: -1;
  }
  

  // &:after,
  // &:before {
  //   content: '';
  //   position: absolute;
  //   left: -31px;
  //   top: -30px;
  //   width: 90%;
  //   height: 92%;
  //   z-index: -1;
  //   background-color: rgba($color: rgb(101, 188, 123), $alpha: 0.12);
  //   @include transition(.5s);
  // }

  


}

.about-content {
  text-align: left;
  padding-top: 60px;
}

.section-title {
  h4 {
    @extend %sectionTitleTwo;
    span{
      color: $crimson-color;
    }
  }

}

p {
  @extend %paraCss;
}

.section-button {
  margin-top: 40px;

  a {
    @extend %btnTwoCss;
  }

  a:hover {
    background-color:  $crimson-color;
    color: $white-color;
    border: 1px solid transparent;
  }
}

}