.contact-area{
    padding: 90px 0;

.contact-content{
    padding-right: 30px;
   
}
.contact-box{
    padding: 15px;
}
.contact-icon{
    text-align: right;
    margin-bottom: -40px;
    @include media('mobile-xsm') {
        margin-bottom: 30px;
      }
}

.section-title {
    h4 {
      @extend %sectionTitleOne;
      font-weight: 500;
     
    }
  
    h2 {
      @extend %sectionTitleTwo;
      span{
        color: $crimson-color;
      }

      @include media('mobile-xsm') {
        font-size: 28px;
       
      }
      
  
    }



  }
  
  p {
    @extend %paraCss;
  }






.form-d2{
    margin-top: 0px;
    margin-bottom: 0px;
}
.form-d{
    background-color: $white-color;
    border: 15px solid $frm-dbr-color;
    padding: 30px;
    margin-top: 60px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    @include transition (.5s);
    margin-bottom: 80px;
    &:hover{
        -webkit-box-shadow: 0px 15px 15px 0px rgba(0,0,0,.7);
        box-shadow: 0px 15px 15px 0px rgba(0,0,0,.7);
        @include transform (translateY(-10px));

    }
    input[type="text"],
    textarea{
    width: 100%;
    padding: 12px;
    border: none;
    margin-top: 6px;
    margin-bottom: 35px;
    resize: vertical;
    background: transparent;
    border-bottom: 2px solid $frm-br-btm;
    @include transition (.5s);
      @include media('mobile-xsm') {
        padding: 5px;
        margin-bottom: 20px;
       
      }
      


    &:focus{
        border-bottom: 2px solid $focus-color;
        padding: 12px 0 12px 15px;

        @include media('mobile-xsm') {
            padding: 5px 0 5px 7px;
           
          }
          

    }
  }

  input[type="email"]{
    width: 100%;
    padding: 12px;
    border: none;
    margin-top: 6px;
    margin-bottom: 35px;
    resize: vertical;
    background: transparent;
    border-bottom: 2px solid $frm-br-btm;
    @include transition (.5s);
    
    @include media('mobile-xsm') {
      padding: 5px;
      margin-bottom: 20px;
    }
    
    &:focus{
        border-bottom: 2px solid $focus-color;
        padding: 12px 0 12px 15px;

        @include media('mobile-xsm') {
            padding: 5px 0 5px 7px;
           
          }
          

    }
}

input[type=submit] {
    background-color: $white-color;
    text-decoration: none;
    color: $crimson-color;
    border: 2px solid $crimson-color;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 0;
    @include transition (.5s);
    font-size: 14px;
    font-weight: 700;
    width: 150px;
    text-align: center;
    -webkit-box-shadow: 0 5px 16px rgba(0,0,0,.7);
    box-shadow: 0 5px 16px rgba(0,0,0,.7);
    margin: auto;
    display: block;
    margin-top: 20px;
    @include media('mobile-xsm') {
        margin-top: 8px;
        padding: 12px 0;
       
      }
      

    
    &:hover{
        background-color: $crimson-color;
        color: $white-color;
        -webkit-box-shadow: 0 5px 16px transparent;
        box-shadow: 0 5px 16px transparent;
        cursor: pointer

    }
}

}

}