
.projects-area {
    padding: 90px 0;


.project-heading{
  text-align: center;
  margin-bottom: 50px;
    h3{
        @extend %sectionTitleTwo;
        position: relative;

        &::before{
          position: absolute;
          content: "";
          width: 124px;
          height: 3px;
          margin-bottom: 40px;
          background-color: $crimson-color;
          left: 50%;
          @include transition(.5s);
          bottom: -30px;
          @include transform (translateX(-50%));
        }
        span{
          color: $crimson-color;
        }
    }
     
}

.project-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 5px;
  background-image: linear-gradient(60deg, #000000 0%, $brand-color 100%); 
  .project-info{
    padding: 30px;
    color: $white-color;
    h1{
      
      span{
        color: $crimson-color;
      }
    }
    h2{
      font-size: 20px;
      margin-top: 15px;
      
    }
    p{
      margin-top: 10px;
      font-size: 14px;
      color: $white-color;
      
    }
  }
  


}
.project-image{
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    @include transition (1s);
    &::after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-image:linear-gradient(60deg, #000000 0%, $brand-color 100%); 
      opacity: .7;
      
  }
  &:hover{
    @include transform (scale(1.1));
  }
  
  

  

}






}














