
.projects-area {
    padding: 90px 0;


.project-heading{
  text-align: center;
  margin-bottom: 50px;
    h3{
        @extend %sectionTitleTwo;
        position: relative;

        &::before{
          position: absolute;
          content: "";
          width: 124px;
          height: 3px;
          margin-bottom: 40px;
          background-color: $crimson-color;
          left: 50%;
          @include transition(.5s);
          bottom: -30px;
          @include transform (translateX(-50%));
        }
        span{
          color: $crimson-color;
        }
    }
     
}

.pa-margintop {
  padding-top: 40px;
  margin-bottom: 30px;
}

.single-project{
  position: relative;
  overflow: hidden;
  img{
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      border-style: none;
      @include transition (1s);
  }
  &:hover img{
      @include transform (scale(1.1));
  }
  &:hover .portfolio-text{
      background-color: rgba(0, 0, 0, 0.5);

  }
  &:hover .portfolio-text a{
      margin-left: 0

  }
  &:hover .portfolio-text h5{
      margin-left: 0;

  }

}

.portfolio-text{
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 44%;
  @include transition (.5s);

  h5{
      color: $white-color;
      margin: 0;
      font-size: 25px;
      margin-left: -780px;
      text-transform: capitalize;
      font-weight: 700;
      @include transition (.7s);

  }
  a{
      background-color: $white-color;
      text-decoration: none;
      color: $crimson-color;
      text-transform: capitalize;
      display: inline-block;
      padding: 10px 30px;
      font-size: 15px;
      font-weight: 700;
      text-align: center;
      margin-top: 20px;
      margin-left: -785px;
      @include transition (.7s);
  }
  a:hover{
      background-color: $crimson-color;
      color: $white-color;

  }
}




}














