.our-partner {
    padding: 90px 0;
}


.brand-item{
    padding: 20px;
    text-align: center;
    img{
        max-width: 100%;
        height: auto;
        // @include media('tab') {
        //     max-width: 100%;
        //   }
        //   @include media('mobile-lg'){
        //     max-width: 100%;
            
        //   }
        //   @include media('mobile-md'){
        //     max-width: 100%;
            
        //   }
        //   @include media('mobile-sm'){
        //     max-width: 100%;
            
        //   }
        //   @include media('mobile-xsm') {
        //     max-width: 100%;
            
        //   }
        //   @include media('mobile-xxsm') {
        //     max-width: 100%;
            
        //   }
        
    }
}