.our-partner {
    padding: 90px 0;
}
.section-title {
    h4 {
      @extend %sectionTitleOne;
      
    }
  
    h2 {
      @extend %sectionTitleTwo;
      span{
        color: $crimson-color;
        
    }
      @include media('mobile-md') {
        font-size: 28px;
       
      }
      
  
    }
  }
  

.brand-item{
    padding: 20px;
    text-align: center;
    img{
        max-width: 100%;
        height: auto;
        
        
    }
}