.our-expertise {
    padding: 90px 0;
}

.expertise-heading{
    text-align: center;
    margin: auto;
    h2{
        font-weight: 900;
        font-size: 33px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #414142;
    }
    p{
        padding-bottom: 15px
    }
    
}
.expertise-item {
    position: relative;
    overflow: hidden;
    &:hover .expertise-text{
        background-color: rgba(107, 111, 255, 0.7);

    }
}

.expertise-text {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(107, 111, 255, 0.5);
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 30%;
    @include transition(.5s);
    h5{
        color: $white-color;
        margin: 0;
        font-size: 26px;
        margin-left: -1200px;
        @include transition(.7s);
        text-transform: capitalize;
        font-weight: 700;
        position: relative;
        display: inline-block;
        &::before{
            position: absolute;
            content: "";
            width: 0%;
            height: 3px;
            background-color: $white-color;
            left: 50%;
            @include transition(.5s);
            @include transform (translateX(-50%));
            bottom: -10px;
        }
    }
}

.expertise-item:hover .expertise-text h5::before {
    width: 65%;
}

.expertise-item .expertise-text h5 {
    margin-left: 0;
}