.our-mission {
    padding: 90px 0;
}

.section-title {
    h4 {
      @extend %sectionTitleOne;
      
    }
  
    h2 {
      @extend %sectionTitleTwo;
      span{
        color: $crimson-color;
        
    }
      @include media('mobile-md') {
        font-size: 28px;
       
      }
      
  
    }
  }
.section-button{
  a{
    @extend %btnTwoCss;
  }
  a:hover {
    background-color:  $crimson-color;
    color: $white-color;
    border: 1px solid transparent;
  }
}

.mission-content {
    padding-top: 0;
    ul{
        
        li{
            list-style-type: disc;
            line-height: 28px;
            color: $crimson-color;
            p{
              color: $brand-color;
            }
        }
        
    }
}


.about-mission{
    img{
        width: 100%;
        @include transition(.5s);
    }
    img:hover {
      width: 100%;
      @include transform (scale(1.02));
  
  
    }
}