.project {
    height: 65vh;
    background-image: url('../img/about/about-page-bg.jpg');
}

.projects-area-single-page {
    padding: 90px 0;
}

.project-single {
    padding: 90px 0;
}

.single-project-area {
    margin: -6px 0px 0px 2px;
}

