
/*preloader*/

#preloader {
  height: 100vh;
  width: 100%;
  background-color: $white-color;
  position: fixed;
  top: 50%;
  left: 50%;
  @include transform (translate(-50%, -50%));
  z-index: 999;
}

#preloader img {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform (translate(-50%, -50%));
  width: 100px;
}

.navbar-brand{
    h3{
      color: $white-color;
      text-decoration: none;
      margin-left: 10px;
      letter-spacing: 4px;
      font-size-adjust: 25px;
      span{
        color: $crimson-color;
      }
      
    }
  
}

/*navbar toggle responsive style*/
.navbar-toggler{
@include media('tab') {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 0!important;
  background-color: transparent!important;
  border:none!important;
  border-radius: 0!important;
  transition: 0!important;
  margin-right: -45px;
  align-items: center;
}
&:focus{
  text-decoration: none;
        outline: 0;
        box-shadow: none!important;
}
}
/*down image*/
.down_img{
  @include media('tab') {
    visibility: hidden;
  }

}

/*navbar*/
.navbar-nav {
  @include media('tab') {
    margin-top: 20px!important;
    
  }

  li {
    @include media('tab') {
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      background: rgba(0,0,0,0.7);
      border-top: 1px solid #ffffff80;
      &.scrolled{
        background: $brand-color!important;
         @include transition (0.75s ease);
      }
    }

    a {
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      color: $white-color!important;
      position: relative;
      padding: 25px 0;
      text-transform: capitalize;

      @include media('tab') {
        color: $white-color;
        display: block;
        float: left;
        margin: 0;
        padding: 15px 22px;
        text-align: left;
        text-decoration: none;
        text-transform: capitalize;
        width: 93.7%;
      }
    }

    a::before {
      content: '';
      position: absolute;
      top: 72%;
      bottom: 50%;
      width: 0%;
      height: 4%;
      background: $crimson-color;
      @include transition (all 0.3s linear);
    }

    a:hover::before {
      width: 80%;
      @include media('tab') {
        width: 0%;
      }
      
    }

    .active::before {
      width: 80% !important;
      @include media('tab') {
        width: 0%!important;
      }
    }

    .dropdown {
      position: absolute;
      top: 105%;
      visibility: hidden;

    }

    .dropdown li {
      list-style-type: none;
      background-color: $bg-color;
      position: relative;
      text-align: left;
      visibility: hidden;
      @include transition (0.75s ease);
      @include media('tab') {
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        background: rgba(107,111,255,0.7);
        border-top: 1px solid #ffffff80;
      }

    }

    .dropdown li a {
      text-decoration: none;
    }

    .dropdown li:hover a {
      color: $crimson-color !important;
      @include transition (0.75s ease);

    }

    .dropdown li:hover a:hover::before {
      width: 0;
    }

    .drpdwn-two li {
      padding-top: 8px;
      padding-left: 18px;
      padding-bottom: 8px;
      position: relative;
      width: 200px;
      left: -152px;
      @include transition (0.75s ease);
      visibility: hidden;

    }
    &:hover .dropdown li {
      visibility: visible;
      @include transition (0.75s ease);
  
    }
  


  }

  

}
.bg-light{
  background: transparent!important;
  @include transition (0.75s ease);
  
}
.bar-icon {
  border: 1px solid $white-color;
  padding: 8px 9px;
  color: $white-color;
}

.down_img {
  margin-left: 6px;
}

header{
  width: 100%;
  position: fixed;
  z-index: 11;
}
header.scrolled{
  background: rgba(23, 26, 33,1)!important;
  @include transition (0.75s ease);

}

/* header-image-area*/

.header-image-area{
   position: relative;
    width: 100%;
    height: 100vh;
    background: url('../img/header.png');
    background-size: cover;
    background-position: 50% 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 85%);
    @include media('mobile-md'){
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 90%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 90%);
    }
    @include media('mobile-sm'){
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 90%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 90%);
    }
    @include media('mobile-xsm') {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 90%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 90%);
     
    }
    @include media('mobile-xxsm') {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 90%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 90%);
    }



    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));

    }

.header-text{
  position: absolute;
  left: 0%;
  top: 37%;
  margin: auto;
  right: 0;
  text-align: center;
  h1{
    text-transform: uppercase;
    font-size: 42px;
    letter-spacing: 1px;
    color: $white-color;
    margin-bottom: 10px;
    font-weight: 900;
    @include media('mobile-tab') {
      font-size: 30px;
    }
    @include media('mobile-lg') {
      font-size: 30px;
    }
    @include media('mobile-md') {
      font-size: 30px;
    }
    @include media('mobile-sm') {
      font-size: 30px;
    }
    @include media('mobile-xsm') {
      font-size: 30px;
      
    }
    @include media('mobile-xxsm') {
      font-size: 30px;
    }
  }
  h3{
    font-size: 18px;
    letter-spacing: 1px;
    color: #e5e5e5;
    font-weight: 400;
    line-height: 28px;

    @include media('tab') {
      font-size: 20px;
    }
    @include media('mobile-xsm') {
      font-size: 20px; 
    }
    @include media('mobile-xxsm') {
      font-size: 20px;
    }

  }
}
.learnmore{
  margin-top: 25px;
  a{
    @extend %btnCss;
    padding: 14px 25px;
  }
  a:hover{
    background-color: $crimson-color;
    color: $white-color;
    border: 0;
  }
}


}