.contact-us-heading h2 {
    @extend %sectionTitleTwo;
    span{
        color: $crimson-color;
    }
}
.mg-bottom-0 {
    margin-bottom: 0 !important;
}
.primary-contact{
    .address, .website,
    .phone, .launch-map{
        i{
            color: $crimson-color;
        }
    }
    .address{
        margin: 20px 0 15px;
    }
    .website {
        margin-bottom: 40px;
    }
}

a.launch-map {
    background-color: $white-color;
    text-decoration: none;
    color: $crimson-color!important;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 0;
   @include transition (.5s);
    font-size: 14px;
    font-weight: 700;
    width: 150px;
    text-align: center;
    -webkit-box-shadow: 0 5px 16px transparent;
    box-shadow: 0 5px 16px transparent;
    border: 1px solid $crimson-color;
    cursor: pointer;
    &:hover{
        color: $white-color!important;
        background-color: $crimson-color;
        border: 0;
    }
    i {
        margin-left: 15px;
        color: $crimson-color;
        @include transition (.5s);
    }
    &:hover i{
        color: $white-color!important;
    }

}
