.blog-filter {
    margin: 50px 0;
    list-style: none;
    li{
        display: inline-block;
        margin: 8px 8px;
        a{
            font-size: 14px;
            padding: 10px 20px;
            text-decoration: none;
            text-transform: uppercase;
            color: $brand-color;
            font-weight: 600;
            @include transition (.5s);
            border: 1px solid transparent;
            @include media('tab') {
                padding: 10px 10px;
                
              }
              
              @include media('mobile-md'){
                padding: 5px 5px;
                font-size: 13px;
                
              }


        
        }
        a:hover{
            color: $crimson-color;
            border: 1px solid $crimson-color;
        }
        &.active a{
            padding: 10px 20px;
            color: $white-color;
            background: $crimson-color;
            @include transition (.5s);
        }
    }
}