%sectionTitleOne{
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 10px;
    line-height: 1.2;
    color: $brand-color;
  
  }
  %sectionTitleTwo{
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $brand-color;
    padding-bottom: 20px;
    line-height: 1.2;
  }
  %paraCss{
    margin: 0 0 15px;
    font-size: 17px;
    line-height: 31px;
    color: $brand-color;
  }
 %vdoPlyBtn{
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  display: block;
  width: 80px;
  height: 80px;
  background: $crimson-color;
  border-radius: 50%;
  @include transform (translateX(-50%) translateY(-50%));
 }
